@media (max-width: 1220px) and (min-width: 1024px) {
    .center {
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }

    .games {
        &__link {
            width: 343px;
        }
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .center {
        padding-left: calc(50% - 388px);
        padding-right: calc(50% - 388px);
    }

    .games {
        &__link {
            width: 343px;
        }
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
      }

    .header {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(./img/bg_mobile.jpg);

        &__title {
            font-size: 32px;
            text-align: center;
        }
        
        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }

    }
    
    .games {
        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__link {
            width: 343px;
        }
    }

    .game {
        padding-top: 50px;
        padding-bottom: 85px;

        &__title {
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
            text-align: center;
        }

        &__text {
            color: #FFF;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;
        }

        &__button {
            margin-left: auto;
            margin-right: auto;
        }

        &__img {
            width: 344px;
            height: 236px;
        }

        &__content {
            display: flex;
            flex-direction: column;
        }
    }

    .game1 {
        flex-direction: column;
        gap: 77px;
    }

    .game2 {
        flex-direction: column;
        gap: 77px;
    }
}