* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

input, select, button {
  font-family: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: #000915;
  background-image: url(./img/bg-header-index.jpg);
  background-repeat: no-repeat;
  padding-top: 217px;
  padding-bottom: 489px;
  box-sizing: border-box;
}
.header__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
  max-width: 780px;
}
.header__text {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 50px;
  max-width: 481px;
}
.header__text_bold {
  font-weight: 700;
}
.header__button {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  padding: 13px 74px;
}
.header__button:hover {
  cursor: url("./img/clarity_cursor-hand-line.png"), pointer;
}

.games {
  background-color: #000915;
  padding-top: 128px;
  padding-bottom: 123px;
}
.games__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.games__link {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.games__link {
  display: flex;
  width: 378px;
  height: 299px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  padding-top: 237px;
  padding-left: 32px;
  box-sizing: border-box;
  transition: all 0.1s;
}
.games__link:hover {
  cursor: url("./img/clarity_cursor-hand-line.png"), pointer;
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.games__link_1 {
  background-image: url(./img/games_link_1.jpg);
  background-repeat: no-repeat;
}
.games__link_2 {
  background-image: url(./img/games_link_2.jpg);
  background-repeat: no-repeat;
}
.games__link_3 {
  background-image: url(./img/games_link_3.jpg);
  background-repeat: no-repeat;
}

.game {
  padding-top: 233px;
  padding-bottom: 233px;
  background-color: #000915;
  color: #FFF;
}
.game_content {
  max-width: 584px;
}
.game_title {
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
.game_text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 40px;
}
.game_button {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  border: none;
  border-radius: 30px;
  background-color: #9C0332;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 74px;
  padding-right: 90px;
}
.game_button:hover {
  cursor: url("./img/clarity_cursor-hand-line.png"), pointer;
}

.game1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 123px;
  align-items: center;
}

.game2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 135px;
  align-items: center;
  flex-direction: row-reverse;
}

@media (max-width: 1220px) and (min-width: 1024px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
  .games__link {
    width: 343px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .center {
    padding-left: calc(50% - 388px);
    padding-right: calc(50% - 388px);
  }
  .games__link {
    width: 343px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/bg_mobile.jpg);
  }
  .header__title {
    font-size: 32px;
    text-align: center;
  }
  .header__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .games__list {
    flex-direction: column;
    align-items: center;
  }
  .games__link {
    width: 343px;
  }
  .game {
    padding-top: 50px;
    padding-bottom: 85px;
  }
  .game_title {
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .game_text {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .game_button {
    margin-left: auto;
    margin-right: auto;
  }
  .game_img {
    width: 344px;
    height: 236px;
  }
  .game_content {
    display: flex;
    flex-direction: column;
  }
  .game1 {
    flex-direction: column;
    gap: 77px;
  }
  .game2 {
    flex-direction: column;
    gap: 77px;
  }
}/*# sourceMappingURL=style.css.map */