* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

input, select, button {
    font-family: inherit;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-color: #000915;
    background-image: url(./img/bg-header-index.jpg);
    background-repeat: no-repeat;
    padding-top: 217px;
    padding-bottom: 489px;
    box-sizing: border-box;

    &__title {
        color: #FFF;
        font-size: 64px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 32px;
        max-width: 780px;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        margin-bottom: 50px;
        max-width: 481px;
    }

    &__text_bold {
        font-weight: 700;
    }

    &__button {
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        padding: 13px 74px;

        &:hover {
            cursor: url("./img/clarity_cursor-hand-line.png"), pointer;
        }
    }
}

.games {
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 123px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    &__link {
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    &__link {
        display: flex;
        width: 378px;
        height: 299px;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        padding-top: 237px;
        padding-left: 32px;
        box-sizing: border-box;
        transition: all 0.1s;

        &:hover {
            cursor: url("./img/clarity_cursor-hand-line.png"), pointer;
            border-radius: 16px;
            border: 3px solid #44D2FF;
        }
    }

    &__link_1 {
        background-image: url(./img/games_link_1.jpg);
        background-repeat: no-repeat;
    }

    &__link_2 {
        background-image: url(./img/games_link_2.jpg);
        background-repeat: no-repeat;
    }

    &__link_3 {
        background-image: url(./img/games_link_3.jpg);
        background-repeat: no-repeat;
    }
}

.game {
    padding-top: 233px;
    padding-bottom: 233px;
    background-color: #000915;
    color: #FFF;

    &_content {
        max-width: 584px;
    }

    &_title {
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 32px;
    }

    &_text {
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        margin-bottom: 40px;
    }

    &_button {
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        color: #FFF;
        border: none;
        border-radius: 30px;
        background-color: #9C0332;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 74px;
        padding-right: 90px;

        &:hover {
            cursor: url("./img/clarity_cursor-hand-line.png"), pointer;
        }
    }
}

.game1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 123px;
    align-items: center;
}

.game2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 135px;
    align-items: center;
    flex-direction: row-reverse;
}

@import 'mobile';